// Code generated by Fern. DO NOT EDIT.

package financingapplications

import (
	context "context"
	http "net/http"

	whopsdk "github.com/whopio/whopsdk-go/v2"
	accounts "github.com/whopio/whopsdk-go/v2/accounts"
	core "github.com/whopio/whopsdk-go/v2/core"
	internal "github.com/whopio/whopsdk-go/v2/internal"
	option "github.com/whopio/whopsdk-go/v2/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIVersionDate == nil {
		apiVersionDateDefault := "2026-10-06-2"
		options.APIVersionDate = &apiVersionDateDefault
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Lists payment-financing applications for the account in the URL. Account credentials can access their own account and direct sub-accounts, excluding deeper descendants. User credentials require the read permission on each account. Filters only narrow this visibility.
//
// Example:
//
//	request := &accounts.ListFinancingApplicationsRequest{
//	    AccountID: "account_id",
//	}
//	client.Accounts.FinancingApplications.List(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) List(
	ctx context.Context,
	request *accounts.ListFinancingApplicationsRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *whopsdk.FinancingApplication, *accounts.ListFinancingApplicationsResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		internal.ResolveEnvironmentBaseURL(
			options.Environment,
			"API",
		),
		c.baseURL,
		internal.ResolveEnvironmentBaseURL(
			c.options.Environment,
			"API",
		),
		"https://api.whop.com/api/v1",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/accounts/%v/financing_applications",
		request.AccountID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("after", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(whopsdk.ErrorCodes),
		}
	}
	readPageResponse := func(response *accounts.ListFinancingApplicationsResponse) *core.PageResponse[*string, *whopsdk.FinancingApplication, *accounts.ListFinancingApplicationsResponse] {
		var zeroValue *string
		var next *string
		if response.PageInfo != nil {
			next = response.PageInfo.EndCursor
		}
		results := response.GetData()
		return &core.PageResponse[*string, *whopsdk.FinancingApplication, *accounts.ListFinancingApplicationsResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.After)
}

// Creates an application for merchant payment-financing approval. Requires an existing ledger account. Returns an existing application collecting information or awaiting review; applications awaiting review take precedence. Restricted industries cannot apply. Closed applications allow reapplication. This does not submit the application for review. Supports Idempotency-Key replay; open applications are also reused across different keys.
//
// Example:
//
//	request := &accounts.CreateFinancingApplicationsRequest{
//	    AccountID: "account_id",
//	}
//	client.Accounts.FinancingApplications.Create(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Create(
	ctx context.Context,
	request *accounts.CreateFinancingApplicationsRequest,
	opts ...option.RequestOption,
) (*whopsdk.FinancingApplication, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieves a payment-financing application's review state, requirements, saved answers, documents, current terms, and public review feedback. Requires read access to its owning account. Internal review notes and risk metrics are not exposed.
//
// Example:
//
//	request := &accounts.RetrieveFinancingApplicationsRequest{
//	    AccountID: "account_id",
//	    ID: "id",
//	}
//	client.Accounts.FinancingApplications.Retrieve(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Retrieve(
	ctx context.Context,
	request *accounts.RetrieveFinancingApplicationsRequest,
	opts ...option.RequestOption,
) (*whopsdk.FinancingApplication, error) {
	response, err := c.WithRawResponse.Retrieve(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Saves merchant answers while the application requires_collection. The entire batch is atomic. Omitted requirements and answer fields are unchanged; empty arrays clear values or documents, and null money clears a price. Only merchant requirement IDs returned by this application are accepted. Upload documents through the Files API first: new files must belong to the caller, be ready and private, and satisfy the requirement's formats and 20 MB limit. file_ids replaces the requirement's attachments. This does not submit the application.
//
// Example:
//
//	request := &accounts.UpdateFinancingApplicationsRequest{
//	    AccountID: "account_id",
//	    ID: "id",
//	    Answers: []*accounts.UpdateFinancingApplicationsRequestAnswersItem{
//	        &accounts.UpdateFinancingApplicationsRequestAnswersItem{
//	            RequirementID: "inrqi_xxxxxxxxxxxxxx",
//	        },
//	    },
//	}
//	client.Accounts.FinancingApplications.Update(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Update(
	ctx context.Context,
	request *accounts.UpdateFinancingApplicationsRequest,
	opts ...option.RequestOption,
) (*whopsdk.FinancingApplication, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Submits a complete application for financing review. Present the application's terms.content, policies, and disclosure to the merchant and collect affirmative acceptance before calling this endpoint. Pass the terms.version that was presented; stale versions are rejected. The server records acceptance, submitting actor, and submission time before entering awaiting_review. Only requires_collection applications may submit, including after a reviewer requests more information. Resubmissions require acceptance again. Use Idempotency-Key for retries; submitting an application already in review without replay returns an error. Approval does not itself enable financing payment methods.
//
// Example:
//
//	request := &accounts.SubmitFinancingApplicationsRequest{
//	    AccountID: "account_id",
//	    ID: "id",
//	    MerchantAcceptance: &accounts.SubmitFinancingApplicationsRequestMerchantAcceptance{
//	        Accepted: true,
//	        TermsVersion: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
//	    },
//	}
//	client.Accounts.FinancingApplications.Submit(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Submit(
	ctx context.Context,
	request *accounts.SubmitFinancingApplicationsRequest,
	opts ...option.RequestOption,
) (*whopsdk.FinancingApplication, error) {
	response, err := c.WithRawResponse.Submit(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
