// Code generated by Fern. DO NOT EDIT.

package financingapplications

import (
	context "context"
	http "net/http"

	whopsdk "github.com/whopio/whopsdk-go/v2"
	accounts "github.com/whopio/whopsdk-go/v2/accounts"
	core "github.com/whopio/whopsdk-go/v2/core"
	internal "github.com/whopio/whopsdk-go/v2/internal"
	option "github.com/whopio/whopsdk-go/v2/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIVersionDate == nil {
		apiVersionDateDefault := "2026-10-09-2"
		options.APIVersionDate = &apiVersionDateDefault
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Lists payment-financing applications for an account. Account credentials can list their own account and its direct connected accounts, but not deeper descendants; user credentials need read access to the account.
//
// Example:
//
//	request := &accounts.ListFinancingApplicationsRequest{
//	    AccountID: "account_id",
//	}
//	client.Accounts.FinancingApplications.List(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) List(
	ctx context.Context,
	request *accounts.ListFinancingApplicationsRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *whopsdk.FinancingApplication, *accounts.ListFinancingApplicationsResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		internal.ResolveEnvironmentBaseURL(
			options.Environment,
			"API",
		),
		c.baseURL,
		internal.ResolveEnvironmentBaseURL(
			c.options.Environment,
			"API",
		),
		"https://api.whop.com/api/v1",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/accounts/%v/financing_applications",
		request.AccountID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("after", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(whopsdk.ErrorCodes),
		}
	}
	readPageResponse := func(response *accounts.ListFinancingApplicationsResponse) *core.PageResponse[*string, *whopsdk.FinancingApplication, *accounts.ListFinancingApplicationsResponse] {
		var zeroValue *string
		var next *string
		if response.PageInfo != nil {
			next = response.PageInfo.EndCursor
		}
		results := response.GetData()
		return &core.PageResponse[*string, *whopsdk.FinancingApplication, *accounts.ListFinancingApplicationsResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.After)
}

// Starts an application for payment-financing approval, or returns the account's open one: an application in `awaiting_review` takes precedence over one in `requires_collection`, and the open application is reused across different `Idempotency-Key` values. Creating an application does not submit it for review. The account must have a Whop balance set up, and accounts in restricted industries cannot apply. Once an application closes, the account can apply again.
//
// Example:
//
//	request := &accounts.CreateFinancingApplicationsRequest{
//	    AccountID: "account_id",
//	}
//	client.Accounts.FinancingApplications.Create(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Create(
	ctx context.Context,
	request *accounts.CreateFinancingApplicationsRequest,
	opts ...option.RequestOption,
) (*whopsdk.FinancingApplication, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieves a payment-financing application with its review state, requirements, saved answers, documents, current terms, and review feedback. Requires read access to the account that owns it.
//
// Example:
//
//	request := &accounts.RetrieveFinancingApplicationsRequest{
//	    AccountID: "account_id",
//	    ID: "id",
//	}
//	client.Accounts.FinancingApplications.Retrieve(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Retrieve(
	ctx context.Context,
	request *accounts.RetrieveFinancingApplicationsRequest,
	opts ...option.RequestOption,
) (*whopsdk.FinancingApplication, error) {
	response, err := c.WithRawResponse.Retrieve(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Saves merchant answers to an application in `requires_collection`. The batch is atomic: if any answer is rejected, none are saved. Omitted requirements and answer fields are left unchanged. Saving answers does not submit the application; call Submit Financing Application when it is complete.
//
// Example:
//
//	request := &accounts.UpdateFinancingApplicationsRequest{
//	    AccountID: "account_id",
//	    ID: "id",
//	    Answers: []*accounts.UpdateFinancingApplicationsRequestAnswersItem{
//	        &accounts.UpdateFinancingApplicationsRequestAnswersItem{
//	            RequirementID: "inrqi_xxxxxxxxxxxxxx",
//	        },
//	    },
//	}
//	client.Accounts.FinancingApplications.Update(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Update(
	ctx context.Context,
	request *accounts.UpdateFinancingApplicationsRequest,
	opts ...option.RequestOption,
) (*whopsdk.FinancingApplication, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Submits a complete application for financing review, recording the merchant's acceptance, who submitted, and when, then moving it to `awaiting_review`. Before calling, present the application's `terms.content`, policies, and disclosure to the merchant and collect affirmative acceptance; every resubmission needs acceptance again. Only an application in `requires_collection` can be submitted, including after a reviewer requests more information. Retry with the same `Idempotency-Key`: submitting an application already in review without a replay returns an error. Approval does not by itself enable financing payment methods.
//
// Example:
//
//	request := &accounts.SubmitFinancingApplicationsRequest{
//	    AccountID: "account_id",
//	    ID: "id",
//	    MerchantAcceptance: &accounts.SubmitFinancingApplicationsRequestMerchantAcceptance{
//	        Accepted: true,
//	        TermsVersion: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
//	    },
//	}
//	client.Accounts.FinancingApplications.Submit(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Submit(
	ctx context.Context,
	request *accounts.SubmitFinancingApplicationsRequest,
	opts ...option.RequestOption,
) (*whopsdk.FinancingApplication, error) {
	response, err := c.WithRawResponse.Submit(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
