// Code generated by Fern. DO NOT EDIT.

package overrides

import (
	context "context"
	http "net/http"

	whopsdk "github.com/whopio/whopsdk-go"
	affiliates "github.com/whopio/whopsdk-go/affiliates"
	core "github.com/whopio/whopsdk-go/core"
	internal "github.com/whopio/whopsdk-go/internal"
	option "github.com/whopio/whopsdk-go/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIVersionDate == nil {
		apiVersionDateDefault := "2026-09-02-1"
		options.APIVersionDate = &apiVersionDateDefault
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Returns a paginated list of overrides for an affiliate.
//
// Required permissions:
//   - `affiliate:basic:read`
//
// Example:
//
//	request := &affiliates.ListOverridesRequest{
//	    ID: "aff_xxxxxxxxxxxxxx",
//	    First: whopsdk.Int(
//	        42,
//	    ),
//	    Last: whopsdk.Int(
//	        42,
//	    ),
//	}
//	client.Affiliates.Overrides.List(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) List(
	ctx context.Context,
	request *affiliates.ListOverridesRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *affiliates.ListOverridesResponseDataItem, *affiliates.ListOverridesResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.whop.com/api/v1",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/affiliates/%v/overrides",
		request.ID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("after", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(whopsdk.ErrorCodes),
		}
	}
	readPageResponse := func(response *affiliates.ListOverridesResponse) *core.PageResponse[*string, *affiliates.ListOverridesResponseDataItem, *affiliates.ListOverridesResponse] {
		var zeroValue *string
		var next *string
		if response.PageInfo != nil {
			next = response.PageInfo.EndCursor
		}
		results := response.GetData()
		return &core.PageResponse[*string, *affiliates.ListOverridesResponseDataItem, *affiliates.ListOverridesResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.After)
}

// Creates a commission override for an affiliate.
//
// Required permissions:
//   - `affiliate:create`
//
// Example:
//
//	request := &affiliates.CreateOverridesRequest{
//	    ID: "aff_xxxxxxxxxxxxxx",
//	    Body: &affiliates.CreateOverridesRequestBody{
//	        Standard: &affiliates.CreateOverridesRequestBodyStandard{
//	            CommissionValue: 6.9,
//	            ID: "id",
//	            PlanID: "plan_xxxxxxxxxxxxx",
//	        },
//	    },
//	}
//	client.Affiliates.Overrides.Create(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Create(
	ctx context.Context,
	request *affiliates.CreateOverridesRequest,
	opts ...option.RequestOption,
) (*affiliates.CreateOverridesResponse, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieves the details of a specific affiliate override.
//
// Required permissions:
//   - `affiliate:basic:read`
//
// Example:
//
//	request := &affiliates.RetrieveOverridesRequest{
//	    ID: "aff_xxxxxxxxxxxxxx",
//	    OverrideID: "override_id",
//	}
//	client.Affiliates.Overrides.Retrieve(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Retrieve(
	ctx context.Context,
	request *affiliates.RetrieveOverridesRequest,
	opts ...option.RequestOption,
) (*affiliates.RetrieveOverridesResponse, error) {
	response, err := c.WithRawResponse.Retrieve(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Deletes an affiliate override.
//
// Required permissions:
//   - `affiliate:update`
//
// Example:
//
//	request := &affiliates.DeleteOverridesRequest{
//	    ID: "aff_xxxxxxxxxxxxxx",
//	    OverrideID: "override_id",
//	}
//	client.Affiliates.Overrides.Delete(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Delete(
	ctx context.Context,
	request *affiliates.DeleteOverridesRequest,
	opts ...option.RequestOption,
) (bool, error) {
	response, err := c.WithRawResponse.Delete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return false, err
	}
	return response.Body, nil
}

// Updates an existing affiliate override.
//
// Required permissions:
//   - `affiliate:update`
//
// Example:
//
//	request := &affiliates.UpdateOverridesRequest{
//	    ID: "aff_xxxxxxxxxxxxxx",
//	    OverrideID: "override_id",
//	}
//	client.Affiliates.Overrides.Update(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Update(
	ctx context.Context,
	request *affiliates.UpdateOverridesRequest,
	opts ...option.RequestOption,
) (*affiliates.UpdateOverridesResponse, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
