// Code generated by Fern. DO NOT EDIT.

package partners

import (
	context "context"
	http "net/http"

	whopsdk "github.com/whopio/whopsdk-go/v2"
	core "github.com/whopio/whopsdk-go/v2/core"
	externalaccounts "github.com/whopio/whopsdk-go/v2/externalaccounts"
	internal "github.com/whopio/whopsdk-go/v2/internal"
	option "github.com/whopio/whopsdk-go/v2/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIVersionDate == nil {
		apiVersionDateDefault := "2026-10-07"
		options.APIVersionDate = &apiVersionDateDefault
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Lists the creators an Instagram account runs partnership ads with, and where each creator's permission stands.
//
// Example:
//
//	request := &externalaccounts.ListPartnersRequest{
//	    ExternalAccountID: "external_account_id",
//	}
//	client.ExternalAccounts.Partners.List(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) List(
	ctx context.Context,
	request *externalaccounts.ListPartnersRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *whopsdk.ExternalAccount, *externalaccounts.ListPartnersResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		internal.ResolveEnvironmentBaseURL(
			options.Environment,
			"API",
		),
		c.baseURL,
		internal.ResolveEnvironmentBaseURL(
			c.options.Environment,
			"API",
		),
		"https://api.whop.com/api/v1",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/external_accounts/%v/partners",
		request.ExternalAccountID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("after", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(whopsdk.ErrorCodes),
		}
	}
	readPageResponse := func(response *externalaccounts.ListPartnersResponse) *core.PageResponse[*string, *whopsdk.ExternalAccount, *externalaccounts.ListPartnersResponse] {
		var zeroValue *string
		var next *string
		if response.PageInfo != nil {
			next = response.PageInfo.EndCursor
		}
		results := response.GetData()
		return &core.PageResponse[*string, *whopsdk.ExternalAccount, *externalaccounts.ListPartnersResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.After)
}

// Invites an Instagram creator to run partnership ads with an Instagram account. The creator approves the invitation in the Instagram app, and `partnership_status` stays `pending` until they do; [refresh](/api-reference/beta/external-accounts/refresh) the partner to pick up their answer.
//
// Example:
//
//	request := &externalaccounts.CreatePartnersRequest{
//	    ExternalAccountID: "external_account_id",
//	    Username: "@luverahealth",
//	}
//	client.ExternalAccounts.Partners.Create(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Create(
	ctx context.Context,
	request *externalaccounts.CreatePartnersRequest,
	opts ...option.RequestOption,
) (*whopsdk.ExternalAccount, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Revokes a creator's permission to run partnership ads with an Instagram account. Every account that advertises as the Instagram account loses the partner, since the permission belongs to the Instagram account.
//
// Example:
//
//	request := &externalaccounts.DeletePartnersRequest{
//	    ExternalAccountID: "external_account_id",
//	    ID: "id",
//	}
//	client.ExternalAccounts.Partners.Delete(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Delete(
	ctx context.Context,
	request *externalaccounts.DeletePartnersRequest,
	opts ...option.RequestOption,
) (*externalaccounts.DeletePartnersResponse, error) {
	response, err := c.WithRawResponse.Delete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
