// Code generated by Fern. DO NOT EDIT.

package methods

import (
	context "context"
	http "net/http"

	whopsdk "github.com/whopio/whopsdk-go"
	core "github.com/whopio/whopsdk-go/core"
	internal "github.com/whopio/whopsdk-go/internal"
	option "github.com/whopio/whopsdk-go/option"
	payouts "github.com/whopio/whopsdk-go/payouts"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIVersionDate == nil {
		apiVersionDateDefault := "2026-08-21"
		options.APIVersionDate = &apiVersionDateDefault
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Lists the bank accounts, wallets, and crypto addresses an account or user can withdraw to, newest first.
//
// Example:
//
//	request := &payouts.ListMethodsRequest{}
//	client.Payouts.Methods.List(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) List(
	ctx context.Context,
	request *payouts.ListMethodsRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *payouts.ListMethodsResponseDataItem, *payouts.ListMethodsResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.whop.com/api/v1",
	)
	endpointURL := baseURL + "/payouts/methods"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("after", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(whopsdk.ErrorCodes),
		}
	}
	readPageResponse := func(response *payouts.ListMethodsResponse) *core.PageResponse[*string, *payouts.ListMethodsResponseDataItem, *payouts.ListMethodsResponse] {
		var zeroValue *string
		var next *string
		if response.PageInfo != nil {
			next = response.PageInfo.EndCursor
		}
		results := response.GetData()
		return &core.PageResponse[*string, *payouts.ListMethodsResponseDataItem, *payouts.ListMethodsResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.After)
}

// Saves a new place an account or user can withdraw to. Sensitive details are vaulted in transit and never stored raw.
//
// Example:
//
//	request := &payouts.CreateMethodsRequest{
//	    SupportedPayoutMethodID: "podst_xxxxxxxxxxxxxx",
//	}
//	client.Payouts.Methods.Create(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Create(
	ctx context.Context,
	request *payouts.CreateMethodsRequest,
	opts ...option.RequestOption,
) (*payouts.CreateMethodsResponse, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Deletes a saved payout method so it can no longer receive payouts.
//
// Example:
//
//	request := &payouts.DeleteMethodsRequest{
//	    ID: "id",
//	}
//	client.Payouts.Methods.Delete(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Delete(
	ctx context.Context,
	request *payouts.DeleteMethodsRequest,
	opts ...option.RequestOption,
) (*payouts.DeleteMethodsResponse, error) {
	response, err := c.WithRawResponse.Delete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Changes the label used to identify a saved payout method.
//
// Example:
//
//	request := &payouts.UpdateMethodsRequest{
//	    ID: "id",
//	    Nickname: "Primary checking",
//	}
//	client.Payouts.Methods.Update(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Update(
	ctx context.Context,
	request *payouts.UpdateMethodsRequest,
	opts ...option.RequestOption,
) (*payouts.UpdateMethodsResponse, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
