// Code generated by Fern. DO NOT EDIT.

package socialaccounts

import (
	context "context"
	http "net/http"

	whopsdk "github.com/whopio/whopsdk-go"
	core "github.com/whopio/whopsdk-go/core"
	internal "github.com/whopio/whopsdk-go/internal"
	option "github.com/whopio/whopsdk-go/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIVersionDate == nil {
		apiVersionDateDefault := "2026-09-02-1"
		options.APIVersionDate = &apiVersionDateDefault
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Lists the social accounts linked to an account or user.
//
// Example:
//
//	request := &whopsdk.ListSocialAccountsRequest{}
//	client.SocialAccounts.List(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) List(
	ctx context.Context,
	request *whopsdk.ListSocialAccountsRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *whopsdk.SocialAccount, *whopsdk.ListSocialAccountsResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.whop.com/api/v1",
	)
	endpointURL := baseURL + "/social_accounts"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("after", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(whopsdk.ErrorCodes),
		}
	}
	readPageResponse := func(response *whopsdk.ListSocialAccountsResponse) *core.PageResponse[*string, *whopsdk.SocialAccount, *whopsdk.ListSocialAccountsResponse] {
		var zeroValue *string
		var next *string
		if response.PageInfo != nil {
			next = response.PageInfo.EndCursor
		}
		results := response.GetData()
		return &core.PageResponse[*string, *whopsdk.SocialAccount, *whopsdk.ListSocialAccountsResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.After)
}

// Creates or returns a Whop-managed Facebook page for an account.
//
// Example:
//
//	request := &whopsdk.CreateSocialAccountsRequest{
//	    Platform: whopsdk.CreateSocialAccountsRequestPlatformFacebook,
//	}
//	client.SocialAccounts.Create(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Create(
	ctx context.Context,
	request *whopsdk.CreateSocialAccountsRequest,
	opts ...option.RequestOption,
) (*whopsdk.SocialAccount, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Starts an OAuth connection flow and returns an authorize_url where the user can connect a social account.
//
// Example:
//
//	request := &whopsdk.ConnectSocialAccountsRequest{
//	    Platform: whopsdk.ConnectSocialAccountsRequestPlatformMetaBusiness,
//	    RedirectURL: "https://example.com/settings/social-accounts",
//	}
//	client.SocialAccounts.Connect(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Connect(
	ctx context.Context,
	request *whopsdk.ConnectSocialAccountsRequest,
	opts ...option.RequestOption,
) (*whopsdk.ConnectSocialAccountsResponse, error) {
	response, err := c.WithRawResponse.Connect(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Disconnects a social account from an account or user without deleting the underlying platform account.
//
// Example:
//
//	request := &whopsdk.DeleteSocialAccountsRequest{
//	    ID: "id",
//	}
//	client.SocialAccounts.Delete(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Delete(
	ctx context.Context,
	request *whopsdk.DeleteSocialAccountsRequest,
	opts ...option.RequestOption,
) (*whopsdk.DeleteSocialAccountsResponse, error) {
	response, err := c.WithRawResponse.Delete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Lists the active lead (instant) forms that already exist on a connected Facebook page, so an ad can reuse one as its `lead_gen_form_id` instead of authoring a new form. Every active form comes back in a single response — the list is not paginated.
//
// Example:
//
//	request := &whopsdk.LeadFormsSocialAccountsRequest{
//	    ID: "id",
//	    AccountID: "account_id",
//	}
//	client.SocialAccounts.LeadForms(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) LeadForms(
	ctx context.Context,
	request *whopsdk.LeadFormsSocialAccountsRequest,
	opts ...option.RequestOption,
) (*whopsdk.LeadFormsSocialAccountsResponse, error) {
	response, err := c.WithRawResponse.LeadForms(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Lists the existing posts of a connected Facebook page, Instagram account, or TikTok account.
//
// Example:
//
//	request := &whopsdk.PostsSocialAccountsRequest{
//	    ID: "id",
//	    AccountID: "account_id",
//	}
//	client.SocialAccounts.Posts(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Posts(
	ctx context.Context,
	request *whopsdk.PostsSocialAccountsRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *whopsdk.SocialAccountPost, *whopsdk.PostsSocialAccountsResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.whop.com/api/v1",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/social_accounts/%v/posts",
		request.ID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("after", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(whopsdk.ErrorCodes),
		}
	}
	readPageResponse := func(response *whopsdk.PostsSocialAccountsResponse) *core.PageResponse[*string, *whopsdk.SocialAccountPost, *whopsdk.PostsSocialAccountsResponse] {
		var zeroValue *string
		var next *string
		if response.PageInfo != nil {
			next = response.PageInfo.EndCursor
		}
		results := response.GetData()
		return &core.PageResponse[*string, *whopsdk.SocialAccountPost, *whopsdk.PostsSocialAccountsResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.After)
}
