// Code generated by Fern. DO NOT EDIT.

package socialaccounts

import (
	context "context"
	http "net/http"

	whopsdk "github.com/whopio/whopsdk-go/v2"
	core "github.com/whopio/whopsdk-go/v2/core"
	internal "github.com/whopio/whopsdk-go/v2/internal"
	option "github.com/whopio/whopsdk-go/v2/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIVersionDate == nil {
		apiVersionDateDefault := "2026-10-09-1"
		options.APIVersionDate = &apiVersionDateDefault
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Deprecated compatibility endpoint. List external accounts with `GET /external_accounts` instead.
//
// Example:
//
//	request := &whopsdk.ListSocialAccountsRequest{}
//	client.SocialAccounts.List(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) List(
	ctx context.Context,
	request *whopsdk.ListSocialAccountsRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *whopsdk.SocialAccount, *whopsdk.ListSocialAccountsResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		internal.ResolveEnvironmentBaseURL(
			options.Environment,
			"API",
		),
		c.baseURL,
		internal.ResolveEnvironmentBaseURL(
			c.options.Environment,
			"API",
		),
		"https://api.whop.com/api/v1",
	)
	endpointURL := baseURL + "/social_accounts"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("after", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *whopsdk.ListSocialAccountsResponse) *core.PageResponse[*string, *whopsdk.SocialAccount, *whopsdk.ListSocialAccountsResponse] {
		var zeroValue *string
		var next *string
		if response.PageInfo != nil {
			next = response.PageInfo.EndCursor
		}
		results := response.GetData()
		return &core.PageResponse[*string, *whopsdk.SocialAccount, *whopsdk.ListSocialAccountsResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.After)
}

// Deprecated compatibility endpoint. Create external accounts with `POST /external_accounts` instead.
//
// Example:
//
//	request := &whopsdk.CreateSocialAccountsRequest{
//	    Platform: whopsdk.CreateSocialAccountsRequestPlatformFacebook,
//	}
//	client.SocialAccounts.Create(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Create(
	ctx context.Context,
	request *whopsdk.CreateSocialAccountsRequest,
	opts ...option.RequestOption,
) (*whopsdk.SocialAccount, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Deprecated compatibility endpoint. Connect external accounts with `POST /external_accounts/connect` instead.
//
// Example:
//
//	request := &whopsdk.ConnectSocialAccountsRequest{
//	    Platform: whopsdk.ConnectSocialAccountsRequestPlatformMetaBusiness,
//	    RedirectURL: "https://example.com/settings/social-accounts",
//	}
//	client.SocialAccounts.Connect(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Connect(
	ctx context.Context,
	request *whopsdk.ConnectSocialAccountsRequest,
	opts ...option.RequestOption,
) (*whopsdk.ConnectSocialAccountsResponse, error) {
	response, err := c.WithRawResponse.Connect(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Deprecated compatibility endpoint. Disconnect external accounts with `DELETE /external_accounts/{id}` instead.
//
// Example:
//
//	request := &whopsdk.DeleteSocialAccountsRequest{
//	    ID: "id",
//	}
//	client.SocialAccounts.Delete(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Delete(
	ctx context.Context,
	request *whopsdk.DeleteSocialAccountsRequest,
	opts ...option.RequestOption,
) (*whopsdk.DeleteSocialAccountsResponse, error) {
	response, err := c.WithRawResponse.Delete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Deprecated compatibility endpoint. List lead forms with `GET /external_accounts/{id}/lead_forms` instead.
//
// Example:
//
//	request := &whopsdk.LeadFormsSocialAccountsRequest{
//	    ID: "id",
//	    AccountID: "account_id",
//	}
//	client.SocialAccounts.LeadForms(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) LeadForms(
	ctx context.Context,
	request *whopsdk.LeadFormsSocialAccountsRequest,
	opts ...option.RequestOption,
) (*whopsdk.LeadFormsSocialAccountsResponse, error) {
	response, err := c.WithRawResponse.LeadForms(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Deprecated compatibility endpoint. List partners with `GET /external_accounts/{external_account_id}/partners` instead.
//
// Example:
//
//	request := &whopsdk.PartnersSocialAccountsRequest{
//	    ID: "id",
//	}
//	client.SocialAccounts.Partners(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Partners(
	ctx context.Context,
	request *whopsdk.PartnersSocialAccountsRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *whopsdk.SocialAccount, *whopsdk.PartnersSocialAccountsResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		internal.ResolveEnvironmentBaseURL(
			options.Environment,
			"API",
		),
		c.baseURL,
		internal.ResolveEnvironmentBaseURL(
			c.options.Environment,
			"API",
		),
		"https://api.whop.com/api/v1",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/social_accounts/%v/partners",
		request.ID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("after", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *whopsdk.PartnersSocialAccountsResponse) *core.PageResponse[*string, *whopsdk.SocialAccount, *whopsdk.PartnersSocialAccountsResponse] {
		var zeroValue *string
		var next *string
		if response.PageInfo != nil {
			next = response.PageInfo.EndCursor
		}
		results := response.GetData()
		return &core.PageResponse[*string, *whopsdk.SocialAccount, *whopsdk.PartnersSocialAccountsResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.After)
}

// Deprecated compatibility endpoint. Add partners with `POST /external_accounts/{external_account_id}/partners` instead.
//
// Example:
//
//	request := &whopsdk.AddPartnerSocialAccountsRequest{
//	    ID: "id",
//	    Username: "@luverahealth",
//	}
//	client.SocialAccounts.AddPartner(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) AddPartner(
	ctx context.Context,
	request *whopsdk.AddPartnerSocialAccountsRequest,
	opts ...option.RequestOption,
) (*whopsdk.SocialAccount, error) {
	response, err := c.WithRawResponse.AddPartner(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Deprecated compatibility endpoint. Remove partners with `DELETE /external_accounts/{external_account_id}/partners/{id}` instead.
//
// Example:
//
//	request := &whopsdk.RemovePartnerSocialAccountsRequest{
//	    ID: "id",
//	    PartnerID: "partner_id",
//	}
//	client.SocialAccounts.RemovePartner(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) RemovePartner(
	ctx context.Context,
	request *whopsdk.RemovePartnerSocialAccountsRequest,
	opts ...option.RequestOption,
) (*whopsdk.RemovePartnerSocialAccountsResponse, error) {
	response, err := c.WithRawResponse.RemovePartner(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Deprecated compatibility endpoint. List posts with `GET /external_accounts/{id}/posts` instead.
//
// Example:
//
//	request := &whopsdk.PostsSocialAccountsRequest{
//	    ID: "id",
//	    AccountID: "account_id",
//	}
//	client.SocialAccounts.Posts(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Posts(
	ctx context.Context,
	request *whopsdk.PostsSocialAccountsRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *whopsdk.SocialAccountPost, *whopsdk.PostsSocialAccountsResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		internal.ResolveEnvironmentBaseURL(
			options.Environment,
			"API",
		),
		c.baseURL,
		internal.ResolveEnvironmentBaseURL(
			c.options.Environment,
			"API",
		),
		"https://api.whop.com/api/v1",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/social_accounts/%v/posts",
		request.ID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("after", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *whopsdk.PostsSocialAccountsResponse) *core.PageResponse[*string, *whopsdk.SocialAccountPost, *whopsdk.PostsSocialAccountsResponse] {
		var zeroValue *string
		var next *string
		if response.PageInfo != nil {
			next = response.PageInfo.EndCursor
		}
		results := response.GetData()
		return &core.PageResponse[*string, *whopsdk.SocialAccountPost, *whopsdk.PostsSocialAccountsResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.After)
}

// Deprecated compatibility endpoint. Refresh external accounts with `POST /external_accounts/{id}/refresh` instead.
//
// Example:
//
//	request := &whopsdk.RefreshSocialAccountsRequest{
//	    ID: "id",
//	}
//	client.SocialAccounts.Refresh(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Refresh(
	ctx context.Context,
	request *whopsdk.RefreshSocialAccountsRequest,
	opts ...option.RequestOption,
) (*whopsdk.SocialAccount, error) {
	response, err := c.WithRawResponse.Refresh(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
