// Code generated by Fern. DO NOT EDIT.

package client

import (
	context "context"
	http "net/http"

	whopsdk "github.com/whopio/whopsdk-go"
	core "github.com/whopio/whopsdk-go/core"
	internal "github.com/whopio/whopsdk-go/internal"
	option "github.com/whopio/whopsdk-go/option"
	partners "github.com/whopio/whopsdk-go/partners"
	earnings "github.com/whopio/whopsdk-go/partners/businesses/earnings"
)

type Client struct {
	WithRawResponse *RawClient
	Earnings        *earnings.Client

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIVersionDate == nil {
		apiVersionDateDefault := "2026-08-21"
		options.APIVersionDate = &apiVersionDateDefault
	}
	return &Client{
		Earnings:        earnings.NewClient(options),
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Lists the businesses the authenticated user referred onto Whop, most recent first.
//
// Example:
//
//	request := &partners.ListBusinessesRequest{}
//	client.Partners.Businesses.List(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) List(
	ctx context.Context,
	request *partners.ListBusinessesRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *partners.ListBusinessesResponseDataItem, *partners.ListBusinessesResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.whop.com/api/v1",
	)
	endpointURL := baseURL + "/partners/businesses"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("after", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(whopsdk.ErrorCodes),
		}
	}
	readPageResponse := func(response *partners.ListBusinessesResponse) *core.PageResponse[*string, *partners.ListBusinessesResponseDataItem, *partners.ListBusinessesResponse] {
		var zeroValue *string
		var next *string
		if response.PageInfo != nil {
			next = response.PageInfo.EndCursor
		}
		results := response.GetData()
		return &core.PageResponse[*string, *partners.ListBusinessesResponseDataItem, *partners.ListBusinessesResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.After)
}

// Retrieves a single referred business and its referral terms.
//
// Example:
//
//	request := &partners.RetrieveBusinessesRequest{
//	    ID: "id",
//	}
//	client.Partners.Businesses.Retrieve(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Retrieve(
	ctx context.Context,
	request *partners.RetrieveBusinessesRequest,
	opts ...option.RequestOption,
) (*partners.RetrieveBusinessesResponse, error) {
	response, err := c.WithRawResponse.Retrieve(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
