// Code generated by Fern. DO NOT EDIT.

package webhooks

import (
	context "context"
	http "net/http"

	whopsdk "github.com/whopio/whopsdk-go"
	core "github.com/whopio/whopsdk-go/core"
	internal "github.com/whopio/whopsdk-go/internal"
	option "github.com/whopio/whopsdk-go/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIVersionDate == nil {
		apiVersionDateDefault := "2026-08-21-1"
		options.APIVersionDate = &apiVersionDateDefault
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Returns a paginated list of webhook endpoints configured for an account, ordered by most recently created.
//
// Example:
//
//	request := &whopsdk.ListWebhooksRequest{
//	    AccountID: "account_id",
//	}
//	client.Webhooks.List(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) List(
	ctx context.Context,
	request *whopsdk.ListWebhooksRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *whopsdk.WebhookListItem, *whopsdk.ListWebhooksResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.whop.com/api/v1",
	)
	endpointURL := baseURL + "/webhooks"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("after", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(whopsdk.ErrorCodes),
		}
	}
	readPageResponse := func(response *whopsdk.ListWebhooksResponse) *core.PageResponse[*string, *whopsdk.WebhookListItem, *whopsdk.ListWebhooksResponse] {
		var zeroValue *string
		var next *string
		if response.PageInfo != nil {
			next = response.PageInfo.EndCursor
		}
		results := response.GetData()
		return &core.PageResponse[*string, *whopsdk.WebhookListItem, *whopsdk.ListWebhooksResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.After)
}

// Creates a webhook endpoint that receives event notifications via HTTP POST.
//
// Example:
//
//	request := &whopsdk.CreateWebhooksRequest{
//	    URL: "https://example.com/hooks",
//	}
//	client.Webhooks.Create(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Create(
	ctx context.Context,
	request *whopsdk.CreateWebhooksRequest,
	opts ...option.RequestOption,
) (*whopsdk.Webhook, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieves the details of an existing webhook.
//
// Example:
//
//	request := &whopsdk.RetrieveWebhooksRequest{
//	    ID: "id",
//	}
//	client.Webhooks.Retrieve(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Retrieve(
	ctx context.Context,
	request *whopsdk.RetrieveWebhooksRequest,
	opts ...option.RequestOption,
) (*whopsdk.Webhook, error) {
	response, err := c.WithRawResponse.Retrieve(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Permanently deletes a webhook endpoint. Returns `true` on success, matching the legacy proxy response.
//
// Example:
//
//	request := &whopsdk.DeleteWebhooksRequest{
//	    ID: "id",
//	}
//	client.Webhooks.Delete(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Delete(
	ctx context.Context,
	request *whopsdk.DeleteWebhooksRequest,
	opts ...option.RequestOption,
) (*whopsdk.DeleteWebhooksResponse, error) {
	response, err := c.WithRawResponse.Delete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Updates a webhook endpoint's URL, subscribed events, pinned payload version, or enabled state.
//
// Example:
//
//	request := &whopsdk.UpdateWebhooksRequest{
//	    ID: "id",
//	}
//	client.Webhooks.Update(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Update(
	ctx context.Context,
	request *whopsdk.UpdateWebhooksRequest,
	opts ...option.RequestOption,
) (*whopsdk.Webhook, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns a paginated list of delivery attempts for a webhook, ordered by most recent first. Includes the request payload, response body, response code, and timing for each attempt.
//
// Example:
//
//	request := &whopsdk.ListDeliveriesWebhooksRequest{
//	    ID: "id",
//	}
//	client.Webhooks.ListDeliveries(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ListDeliveries(
	ctx context.Context,
	request *whopsdk.ListDeliveriesWebhooksRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *whopsdk.WebhookDelivery, *whopsdk.ListDeliveriesWebhooksResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.whop.com/api/v1",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/webhooks/%v/deliveries",
		request.ID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("after", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(whopsdk.ErrorCodes),
		}
	}
	readPageResponse := func(response *whopsdk.ListDeliveriesWebhooksResponse) *core.PageResponse[*string, *whopsdk.WebhookDelivery, *whopsdk.ListDeliveriesWebhooksResponse] {
		var zeroValue *string
		var next *string
		if response.PageInfo != nil {
			next = response.PageInfo.EndCursor
		}
		results := response.GetData()
		return &core.PageResponse[*string, *whopsdk.WebhookDelivery, *whopsdk.ListDeliveriesWebhooksResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.After)
}

// Re-sends the exact payload of a past delivery to the webhook's current URL and returns the delivery result. By default the replay keeps the original `webhook-id`, so consumers that deduplicate on it can drop events they already processed. Pass `regenerate_id` to re-send under a freshly generated `webhook-id` instead, so a deduplicating consumer processes the replay as a new message. Only available for enabled webhooks on API version v1; deliveries are retained for 30 days.
//
// Example:
//
//	request := &whopsdk.ReplayDeliveryWebhooksRequest{
//	    ID: "id",
//	    DeliveryID: "delivery_id",
//	}
//	client.Webhooks.ReplayDelivery(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ReplayDelivery(
	ctx context.Context,
	request *whopsdk.ReplayDeliveryWebhooksRequest,
	opts ...option.RequestOption,
) (*whopsdk.ReplayDeliveryWebhooksResponse, error) {
	response, err := c.WithRawResponse.ReplayDelivery(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Re-sends the webhook's past deliveries within a time window, optionally limited to specific events or to messages whose most recent delivery attempt failed. Fire and forget: nothing about the replay is stored, and each re-send appears as a new entry in the webhook's delivery log. Each matching message is re-sent once, by default with its original `webhook-id`, so consumers that deduplicate are unaffected; pass `regenerate_ids` to re-send under freshly generated ids instead. Only available for enabled webhooks on API version v1; deliveries are retained for 30 days.
//
// Example:
//
//	request := &whopsdk.ReplayWebhooksRequest{
//	    ID: "id",
//	    SentAfter: "2026-01-01T12:00:00.000Z",
//	}
//	client.Webhooks.Replay(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Replay(
	ctx context.Context,
	request *whopsdk.ReplayWebhooksRequest,
	opts ...option.RequestOption,
) (*whopsdk.ReplayWebhooksResponse, error) {
	response, err := c.WithRawResponse.Replay(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Sends a sample payload for the given event to the webhook's URL and returns the delivery result.
//
// Example:
//
//	request := &whopsdk.TestWebhooksRequest{
//	    ID: "id",
//	    Event: "payment.succeeded",
//	}
//	client.Webhooks.Test(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Test(
	ctx context.Context,
	request *whopsdk.TestWebhooksRequest,
	opts ...option.RequestOption,
) (*whopsdk.TestWebhooksResponse, error) {
	response, err := c.WithRawResponse.Test(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns a paginated list of delivery attempts for a webhook, ordered by most recent first. Includes the request payload, response body, response code, and timing for each attempt.
//
// Required permissions:
//   - `developer:manage_webhook`
//
// Example:
//
//	request := &whopsdk.DeliveriesWebhookRequest{
//	    WebhookID: "webhook_id",
//	    First: whopsdk.Int(
//	        42,
//	    ),
//	    Last: whopsdk.Int(
//	        42,
//	    ),
//	}
//	client.Webhooks.DeliveriesWebhook(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) DeliveriesWebhook(
	ctx context.Context,
	request *whopsdk.DeliveriesWebhookRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *whopsdk.DeliveriesWebhookResponseDataItem, *whopsdk.DeliveriesWebhookResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.whop.com/api/v1",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/webhooks/%v/deliveries",
		request.WebhookID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("after", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(whopsdk.ErrorCodes),
		}
	}
	readPageResponse := func(response *whopsdk.DeliveriesWebhookResponse) *core.PageResponse[*string, *whopsdk.DeliveriesWebhookResponseDataItem, *whopsdk.DeliveriesWebhookResponse] {
		var zeroValue *string
		var next *string
		if response.PageInfo != nil {
			next = response.PageInfo.EndCursor
		}
		results := response.GetData()
		return &core.PageResponse[*string, *whopsdk.DeliveriesWebhookResponseDataItem, *whopsdk.DeliveriesWebhookResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.After)
}
