// Code generated by Fern. DO NOT EDIT.

package identityprofiles

import (
	context "context"
	http "net/http"

	whopsdk "github.com/whopio/whopsdk-go/v2"
	core "github.com/whopio/whopsdk-go/v2/core"
	internal "github.com/whopio/whopsdk-go/v2/internal"
	option "github.com/whopio/whopsdk-go/v2/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIVersionDate == nil {
		apiVersionDateDefault := "2026-10-09-2"
		options.APIVersionDate = &apiVersionDateDefault
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Lists the identity profiles currently linked to an account, or to every account you can read when `account_id` is omitted.
//
// Required permissions:
//   - `identity:read`
//
// Example:
//
//	request := &whopsdk.ListIdentityProfileRequest{
//	    First: whopsdk.Int(
//	        42,
//	    ),
//	    Last: whopsdk.Int(
//	        42,
//	    ),
//	    AccountID: whopsdk.String(
//	        "biz_xxxxxxxxxxxxxx",
//	    ),
//	}
//	client.IdentityProfiles.ListIdentityProfile(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ListIdentityProfile(
	ctx context.Context,
	request *whopsdk.ListIdentityProfileRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *whopsdk.IdentityProfileListItem, *whopsdk.ListIdentityProfileResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		internal.ResolveEnvironmentBaseURL(
			options.Environment,
			"API",
		),
		c.baseURL,
		internal.ResolveEnvironmentBaseURL(
			c.options.Environment,
			"API",
		),
		"https://api.whop.com/api/v1",
	)
	endpointURL := baseURL + "/identity_profiles"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("after", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(whopsdk.ErrorCodes),
		}
	}
	readPageResponse := func(response *whopsdk.ListIdentityProfileResponse) *core.PageResponse[*string, *whopsdk.IdentityProfileListItem, *whopsdk.ListIdentityProfileResponse] {
		var zeroValue *string
		var next *string
		if response.PageInfo != nil {
			next = response.PageInfo.EndCursor
		}
		results := response.GetData()
		return &core.PageResponse[*string, *whopsdk.IdentityProfileListItem, *whopsdk.ListIdentityProfileResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.After)
}

// Retrieves the details of an existing identity profile.
//
// Required permissions:
//   - `identity:read`
//
// Example:
//
//	request := &whopsdk.RetrieveIdentityProfileRequest{
//	    ID: "idpf_xxxxxxxxxxxxx",
//	}
//	client.IdentityProfiles.RetrieveIdentityProfile(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) RetrieveIdentityProfile(
	ctx context.Context,
	request *whopsdk.RetrieveIdentityProfileRequest,
	opts ...option.RequestOption,
) (*whopsdk.IdentityProfile, error) {
	response, err := c.WithRawResponse.RetrieveIdentityProfile(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Unlinks an identity profile from the account or user that owns `ledger_account_id`. Requires `identity:write` on that account or user.
//
// Example:
//
//	request := &whopsdk.UnlinkIdentityProfileRequest{
//	    ID: "idpf_xxxxxxxxxxxxx",
//	    LedgerAccountID: "ldgr_xxxxxxxxxxxxx",
//	}
//	client.IdentityProfiles.UnlinkIdentityProfile(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) UnlinkIdentityProfile(
	ctx context.Context,
	request *whopsdk.UnlinkIdentityProfileRequest,
	opts ...option.RequestOption,
) (*whopsdk.IdentityProfile, error) {
	response, err := c.WithRawResponse.UnlinkIdentityProfile(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns a list of verifications attached to an identity profile, ordered by most recent first.
//
// Required permissions:
//   - `identity:read`
//
// Example:
//
//	request := &whopsdk.ListVerificationsIdentityProfileRequest{
//	    ID: "idpf_xxxxxxxxxxxxx",
//	    First: whopsdk.Int(
//	        42,
//	    ),
//	    Last: whopsdk.Int(
//	        42,
//	    ),
//	}
//	client.IdentityProfiles.ListVerificationsIdentityProfile(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ListVerificationsIdentityProfile(
	ctx context.Context,
	request *whopsdk.ListVerificationsIdentityProfileRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *whopsdk.ListVerificationsIdentityProfileResponseDataItem, *whopsdk.ListVerificationsIdentityProfileResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		internal.ResolveEnvironmentBaseURL(
			options.Environment,
			"API",
		),
		c.baseURL,
		internal.ResolveEnvironmentBaseURL(
			c.options.Environment,
			"API",
		),
		"https://api.whop.com/api/v1",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/identity_profiles/%v/verifications",
		request.ID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("after", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(whopsdk.ErrorCodes),
		}
	}
	readPageResponse := func(response *whopsdk.ListVerificationsIdentityProfileResponse) *core.PageResponse[*string, *whopsdk.ListVerificationsIdentityProfileResponseDataItem, *whopsdk.ListVerificationsIdentityProfileResponse] {
		var zeroValue *string
		var next *string
		if response.PageInfo != nil {
			next = response.PageInfo.EndCursor
		}
		results := response.GetData()
		return &core.PageResponse[*string, *whopsdk.ListVerificationsIdentityProfileResponseDataItem, *whopsdk.ListVerificationsIdentityProfileResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.After)
}
