// Code generated by Fern. DO NOT EDIT.

package client

import (
	context "context"
	http "net/http"

	whopsdk "github.com/whopio/whopsdk-go"
	core "github.com/whopio/whopsdk-go/core"
	internal "github.com/whopio/whopsdk-go/internal"
	option "github.com/whopio/whopsdk-go/option"
	client "github.com/whopio/whopsdk-go/partners/businesses/client"
)

type Client struct {
	WithRawResponse *RawClient
	Businesses      *client.Client

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIVersionDate == nil {
		apiVersionDateDefault := "2026-09-02-2"
		options.APIVersionDate = &apiVersionDateDefault
	}
	return &Client{
		Businesses:      client.NewClient(options),
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Enrolls the calling user in the Whop partner program, making their partner businesses eligible for earnings. Idempotent — enrolling again keeps the original enrollment time.
//
// Example:
//
//	client.Partners.Create(
//	    context.TODO(),
//	)
func (c *Client) Create(
	ctx context.Context,
	opts ...option.RequestOption,
) (*whopsdk.CreatePartnersResponse, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Ranks referrers by partner business earnings — all-time by default, or over the current day, month, year, or trailing 30 days. Authentication is optional: authenticated callers also get their own standing, anonymous callers get the rankings alone.
//
// Example:
//
//	request := &whopsdk.LeaderboardPartnersRequest{}
//	client.Partners.Leaderboard(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Leaderboard(
	ctx context.Context,
	request *whopsdk.LeaderboardPartnersRequest,
	opts ...option.RequestOption,
) (*whopsdk.LeaderboardPartnersResponse, error) {
	response, err := c.WithRawResponse.Leaderboard(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Lists the users the caller referred onto Whop (newest first), each with the second-tier earnings the caller has made from that user's businesses.
//
// Example:
//
//	request := &whopsdk.ReferredUsersPartnersRequest{}
//	client.Partners.ReferredUsers(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ReferredUsers(
	ctx context.Context,
	request *whopsdk.ReferredUsersPartnersRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *whopsdk.ReferredUsersPartnersResponseDataItem, *whopsdk.ReferredUsersPartnersResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.whop.com/api/v1",
	)
	endpointURL := baseURL + "/partners/referred_users"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("after", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(whopsdk.ErrorCodes),
		}
	}
	readPageResponse := func(response *whopsdk.ReferredUsersPartnersResponse) *core.PageResponse[*string, *whopsdk.ReferredUsersPartnersResponseDataItem, *whopsdk.ReferredUsersPartnersResponse] {
		var zeroValue *string
		var next *string
		if response.PageInfo != nil {
			next = response.PageInfo.EndCursor
		}
		results := response.GetData()
		return &core.PageResponse[*string, *whopsdk.ReferredUsersPartnersResponseDataItem, *whopsdk.ReferredUsersPartnersResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.After)
}
